@model IEnumerable<GAIS.Models.Keranjang>

@{
    ViewBag.Title = "Submit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-fluid">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <ol class="breadcrumb gais-breadcrumb" style="background-color: #fff">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item">Admin</li>
                        <li class="breadcrumb-item">Peminjaman</li>
                        <li class="breadcrumb-item">Form</li>
                        <li class="breadcrumb-item text-blue">Submit</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid mt-4">
    <hr class="mt-0 mb-4" />
    <div class="row">
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-header">List Item</div>
                <div class="card-body">
                    <div class="datatable">
                        <table class="table table-hover table-striped" width="100%" cellspacing="0">
                            <thead>
                                <tr class="text-primary">
                                    <th>No</th>
                                    <th>Item Name</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int numRow = 0;}
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(numRow += 1)</td>
                                        <td>@Html.DisplayFor(modelItem => item.BarangPerusahaan.NamaBarang)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Qyt)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-header">Select Date</div>
                <div class="card-body">
                    @using (Html.BeginForm("Submit", "Peminjaman", FormMethod.Post, new { name = "frm", id = "frm" }))
                    {
                        <!-- Form Group (npk)-->
                        <div class="form-group">
                            <label class="text-gray-600 small" for="borrow">Borrow Date</label>
                            <input class="form-control" id="borrow" name="borrow" type="date" required />
                        </div>
                        <!-- Form Group (password)-->
                        <div class="form-group">
                            <label class="text-gray-600 small" for="returned">Returned Date</label>
                            <input class="form-control" id="returned" name="returned" type="date" required />
                        </div>
      
                        <input type="submit" value="Submit" class="btn btn-secondary" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('borrow').valueAsDate = new Date();
</script>