
@{
    ViewBag.Title = "Dashboard Karyawan";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container mt-5">
    <!-- Custom page header alternative example-->
    <div class="d-flex justify-content-between align-items-sm-center flex-column flex-sm-row mb-4">
        <div class="mr-4 mb-3 mb-sm-0">
            <h1 class="mb-0">Dashboard</h1>
            <div class="small">
                <span class="font-weight-500 text-primary">@DateTime.Now.ToString("dddd")</span>
                &#xB7; @DateTime.Now.ToString("MMMM dd, yyyy") &#xB7; @DateTime.Now.ToString("HH:mm tt")
            </div>
        </div>
    </div>
    <!-- Illustration dashboard card example-->
    <div class="card card-waves mb-4 mt-5">
        <div class="card-body p-5">
            <div class="row align-items-center justify-content-between">
                <div class="col">
                    <h1 class="text-primary">Selamat Datang, @ViewBag.NamaUser</h1>
                    <p class="text-gray-700">Jangan lupa menjaga jarak, memakai masker, dan patuhi protokol kesehatan untuk menghadapi pandemi ini.</p>
                </div>
                <div class="col d-none d-lg-block mt-xxl-n4"><img class="img-fluid px-xl-4 mt-xxl-n5" src="/assets/img/illustrations/statistics.svg" /></div>
            </div>
        </div>
    </div>
</div>