@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Login</title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.png" />
    <style>
        .error {
            color: red;
            font-weight: 400;
            display: block;
            padding: 6px 0;
            font-size: 14px;
        }

        .form-control.error {
            border-color: red;
            padding: .375rem .75rem;
        }
    </style>
</head>
<body>
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
                            <!-- Social login form-->
                            <div class="card my-5">
                                <div class="card-body p-5 text-center">
                                    <div class="h1 font-weight-light">Sign In</div>
                                </div>
                                <hr class="my-0" />
                                <div class="card-body p-5">
                                    @if (ViewBag.Validasi != null)
                                    {
                                        <div class="alert alert-@ViewBag.Type" role=alert>
                                            <small>@ViewBag.Validasi</small>
                                        </div>
                                    }
                                    <!-- Login form-->
                                    @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { name = "frm", id = "frm" }))
                                    {
                                        <!-- Form Group (npk)-->
                                        <div class="form-group">
                                            <label class="text-gray-600 small" for="npk">NPK</label>
                                            <input class="form-control form-control-solid" name="npk" type="text" placeholder="NPK" />
                                        </div>
                                        <!-- Form Group (password)-->
                                        <div class="form-group">
                                            <label class="text-gray-600 small" for="password">Password</label>
                                            <input class="form-control form-control-solid" name="password" type="password" placeholder="Password" />
                                        </div>
                                        <!-- Form Group (forgot password link)-->
                                        <div class="form-group"><a class="small" href="#">Forgot your password?</a></div>
                                        <!-- Form Group (login box)-->
                                        <div class="form-group d-flex align-items-center justify-content-between mb-0">
                                            <div class="custom-control custom-control-solid custom-checkbox">

                                            </div>
                                            <input type="submit" value="Login" class="btn btn-primary" />
                                        </div>
                                    }
                                </div>
                                <hr class="my-0" />
                                <div class="card-body px-5 py-4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="footer mt-auto footer-dark">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 small">Copyright &#xA9; 2021 - GAIS</div>
                        <div class="col-md-6 text-md-right small">
                            <a href="#!">Privacy Policy</a>
                            &#xB7;
                            <a href="#!">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
    <script>
        $(function () {
            $("form[name='frm']").validate({
                // Define validation rules
                rules: {
                    npk: "required",
                    password: "required",
                    npk: {
                        required: true
                    },
                    password: {
                        required: true
                    }
                },
                // Specify validation error messages
                messages: {
                    npk: "NPK field is required",
                    password: "Password field is required",
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
        });
    </script>
</body>
</html>